:host {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-content{
  padding: 15px;
}

.contato-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 1rem;
  gap: 1rem;

  mat-form-field {
    width: 90%;
  }

  .mat-form-actions {
    display: flex;

    gap: 1rem;

    button {
      font-size: 1rem;
    }
  }
}
