<mat-card class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar" *ngIf="contato.foto else altAvatar">
      <img [src]="contato.foto" alt="{{ contato.nome }}" />
    </div>
    <ng-template #altAvatar>
      <div mat-card-avatar class="alt-avatar">{{contato.nome[0].toUpperCase()}}</div>
    </ng-template>
    <mat-card-title>{{ contato.nome }}</mat-card-title>
    <mat-card-subtitle>{{ contato.telefone }}</mat-card-subtitle>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editarContato.emit(contato)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="excluirContato.emit(contato.id)">
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content class="email">
    <p>
      <mat-icon>email</mat-icon>
      {{ contato.email }}
    </p>
    <a mat-icon-button [href]="'https://wa.me/' + contato.telefone" target="_blank" aria-label="WhatsApp">
      <mat-icon svgIcon="whatsapp"></mat-icon>
    </a>
  </mat-card-content>

</mat-card>