.contato {
  font-size: 1.2rem;
  display: flex;
  // flex-direction: column;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #95bfff;
  width: 90vw;

  .contato-actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    button {
      font-size: 1rem;
    }
  }

  .chave-campo {
    font-weight: 900;
  }
}
